* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

div.left-container {
    width: 50%;
    height: 100vh;
}

div.left-container {
    background-image: url("../img/super-saiyan-goku-1920x1080-13416.jpg");
    background-position: center;
    background-size: cover;
}

div.line {
    width: 1px;
    height: 100vh;
    background-color: #000;
}

div.right-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: #333;
}

.former {
    border: 1px solid rgb(131, 132, 143);
    padding: 5em;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p.welcome {
    font-size: 3em;
    margin-bottom: 0.4em;
    font-family: 'Montserrat', sans-serif;
    color: #FF5342;
}

div.right-container div.a-form h1 {
    font-size: 3.2em;
    margin-bottom: 0.5em;
}

h1 {
    color: #FE6D4E;
}

div.right-container div.a-form p.sign-in-info {
    font-weight: bold;
    font-size: 1.9em;
    font-family: 'Montserrat', sans-serif;
    color: #FFC28B;
}

div.right-container div.a-form p.sign-in-info span.register-span {
    color: #235179;
    cursor: pointer;
    transition: color, 0.5s, 0.5s;
}

div.right-container div.a-form p.sign-in-info-second {
    margin-bottom: 0.9em;
}

p.email-p, p.password-p, p.username-p {

    color: #FFC28B;
    font-size: 1.5em;
    margin: 0.3em 0.3em 0.3em 0em;
}

div.right-container div.a-form p.forgot-password {
    font-size: 1.2em;
    margin-left: 3em;
}



div.right-container div.a-form input.email-input, input.password-input, input.username-input {
    color: #235179;
    border: 2px solid rgb(169, 203, 236);
    border-radius: 10px;
    width: 20em;
    height: 2.5em;
    padding: 1em;
    margin-bottom: 1em;
}

input.password-input {
    border: 2px solid rgb(169, 203, 236);
}

.login-button {
    margin: 1em 0em 1em 0em;
    padding: 1em 8.56em;
    border: none;
    border-radius: 20px;
    background-color: #FE6D4E;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color, 0.5s, 0.5s;
}

.login-button:hover {
    background-color: #ee5836;
}

div.right-container div.a-form p.sign-in-info span.register-span:hover {
    color: #FFC28B;
}

@media (max-width: 500px) {
    .container {
        display: none !important;
    }

    div.right-container {
        width: 100%;
    }

    .former {
        border: none;
    }
}

@media (min-width: 500px) {
    .phone .right-container {
        display: none !important;
    }
}