.nav {
    padding: 20px 40px;
    text-align: right;
    font-size: 2em;
    background-color: transparent;
}

.link {
    margin: 1em;
    position: relative;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.link,
.link::after,
.link::before {
    transition: .3s;
}

.link:visited {
    color: rgb(255, 255, 255)
}

.style-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(145, 143, 143);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

.style-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.logout-button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    overflow: hidden;
}

button::before,
button::after {
    display: block;
    position: absolute;
    content: "";
    transition: all 0.5s;
    z-index: -1;
}



.logout-button::before,
.logout-button::after {
    width: 100%;
    height: 100%;
    background-color: #FE6D4EFF;
    transition: .5s;
}

.logout-button::before {
    top: -50%;
    left: -100%;
}

.logout-button::after {
    bottom: -50%;
    right: -100%;
}

.logout-button:hover::before {
    top: -50%;
    left: 0;
}

.logout-button:hover::after {
    bottom: -50%;
    right: 0;
}

@media (max-width: 500px) {

    .add-training-button {
        visibility: visible;
        opacity: 1;
        transition: visibility .8s, opacity .8s;
    }
    .nav-desktop {
        display: none;
    }

    .header {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;
    }

    .body {
        position: relative;
        width: 100vw;
        height: 100vh;
        perspective: 800px;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 30px;
        background-color: #333;
        opacity: 0;
        transition: .8s;
        color: #fff;
        transform: rotateX(-180deg);
        z-index: -2;
    }

    header.img {
        display: none;
    }

    .body--active {
        transform: rotate(0);
        opacity: 1;
    }

    .img-phone--active {
        transform: rotateY(-180deg);
        opacity: 0;
    }

    .links--active {
        transform: rotate(0);
        opacity: 1;
        z-index: 10;
    }

    .add-training-button--active {
        visibility: hidden;
        opacity: 0;
    }
}


@media (min-width: 500px) {
    .header, .phone {
        display: none;
    }
}