* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #333;
}

.form {
    display: inline-block;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

div.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

div.left-first-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8em;
}

.title {
    font-size: 3em;
    color: #FFC28B;
    margin-bottom: 1em;
}

.date-details-div,
.add-exercise-div {
    color: #FFC28B;
    margin: 0.5em;
    position: relative;
}

.date-details-div .off {
    display: none;
}

p.date {
    font-size: 2em;
}

button.details {
    padding: 1em 7em 0.4em 0em;
    font-size: 1.7em;
    border: none;
    background: none;
    cursor: pointer;
    color: #FE6D4E;
}

.line {
    width: 20em;
    height: 1px;
    background-color: #000;
}

.difficult {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 1.4em;
    background-color: transparent;
    border: none;
    color: #FE6D4E;
    cursor: pointer;
}

.off {
    display: none;
}

.add {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    font-size: 10em;
    transition: transform, 0.5s, 0.5s;
}

.add:hover {
    transform: rotate(360deg);
}

.parameter-p {
    font-size: 1.7em;
    margin: 0.4em 0.4em 0.4em 0;
}

.input-parameters {
    border: none;
    background: none;
    padding: 0.4em 0.8em;
    margin: 0.4em 0.4em 0.4em 0em;
    outline: none;
}

.input-parameters::placeholder {
    color: rgb(0, 8, 66);
    padding: 1em;
}

.date {
    color: #FF9463;
}

.link {
    color: #FE6D4EFF;
}

.link:visited {
    color: #FE6D4EFF;
}


.style-link::after {
    background-color: #819898;
}

@media (max-width: 500px) {
    .left-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
    }

}



