* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x:hidden;
    overflow-y: hidden;
}

body {
    background-color: #333;
    width: 100vw;
    height: 100vh;
}

.form {
    display: inline-block;
}


div.container {
    width: 100vw;
    height: 100vh;
}

div.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}


.header {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

div.container div.right-container div.element-of-right-container {
    margin: 2em;
}

.input-text {
    border: none;
}

div.container div.right-container div.element-of-right-container li {
    font-size: 2.4em;
}

div.container div.right-container {
    width: 100%;
}

div.container div.left-container-disactive {
    display: none;
}

div.container div.right-container-disactive {
    display: none;
}

.title {
    font-size: 3em;
    color: #FE6D4E;
    margin-bottom: 1em;
    z-index: 3;
}

.date-details-div, .add-exercise-div {
    color: #FF9463;
    margin: 0.5em;
    position: relative;
}

p.date {
    font-size: 2em;

}

button.details {
    padding: 1em 7em 0.4em 0em;
    font-size: 1.7em;
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.line {
    width: 20em;
    height: 1px;
    background-color: #000;
}


.add {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    font-size: 10em;
    transition: transform, 0.5s, 0.5s;
}

.add:hover {
    transform:rotate(360deg);
}

.parameter-p {
    font-size: 1.7em;
    margin: 0.4em 0.4em 0.4em 0;
}

.input-parameters {
    border: none;
    background: none;
    padding: 0.4em 0.8em;
    margin: 0.4em 0.4em 0.4em 0em;
    outline: none;
    color: #819898;
}

.input-parameters::placeholder {
    color: #FFC28B;
    padding: 1em;
}

.add-exercise {
    margin: 1em 0em 0em 0em;
    padding: 1em 8.56em;
    border: none;
    border-radius: 20px;
    background-color: #FE6D4E;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color, 0.5s, 0.5s;
}

.add-exercise:hover {
    background-color: #ee5836;
}

.date {
    color: #FF9463;
}

.link {
    color: #FE6D4EFF;
}

.link:visited {
    color: #FE6D4EFF;
}


.style-link::after {
    background-color: #819898;
}

.logout-button::before,
.logout-button::after {
    width: 100%;
    height: 100%;
    background-color: #FE6D4EFF;
    transition: .5s;
}

@media (max-width: 500px) {
    div.right-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }


}

@media (min-width: 500px) {
    .header {
        display: none;
    }
}




/* color: #5A5A5D; */